@font-face
{
	font-family: "Roboto_medium";
	src: url("../resources/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face
{
	font-family: "Roboto_bold";
	src: url("../resources/fonts/Roboto/Roboto-Bold.ttf");
}

.connect_div
{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.connection
{
	position: fixed;
	width: 450px;
	height: 574px;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	z-index: 100;
}

.connect_background
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 100%;
	fill: white;
	filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.4));
	-webkit-filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.4));
}

.connect_title
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 110px;
	left: 50%;
	width: 368px;
}

.nickname_input
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 255px;
	left: 50%;
	width: 300px;
	height: 40px;
	color: rgb(45, 47, 58);
	font-size: 16px;
	background: rgba(126, 128, 136, 0.102);
	padding: 10px 20px;
	border-radius: 25px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.041);
	text-align: center;
	font-family: "Roboto_medium";
}

.color_div
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 330px;
	left: 150px;
	width: 125px;
	height: 40px;
	border: 3px solid rgba(0, 0, 0, 0.08);
	border-radius: 25px;
}

.color_div:hover
{
	border: 3px solid rgba(0, 0, 0, 0.35);
}

.color_input
{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
}

.color_text
{
	pointer-events: none;
	cursor: default;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;
	font-family: "Roboto_medium";
	font-size: 16px;
}

.skin_div
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 330px;
	left: calc(100% - 150px);
	width: 125px;
	height: 40px;
	border-radius: 25px;
	cursor: pointer;
}

.skin_div:hover
{
	border: 3px solid rgba(0, 0, 0, 0.1);
}

.skin_div .skin_text
{
	pointer-events: none;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	text-align: center;
	width: 100%;
	color: rgb(45, 47, 58);
	font-family: "Roboto_medium";
	font-size: 16px;
}

.skin_div .skin_background
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 100%;
}

.skin_div .skin_border
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	border: 3px solid rgba(0, 0, 0, 0.08);
	overflow: hidden;
	border-radius: 25px;
}

.skin_div .skin_hover
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	visibility: hidden;
}

.skin_div .skin_hover:hover
{
	background-color: rgba(0, 0, 0, 0.1);
}

.nickname_input:focus
{
	border: 2px solid rgba(0, 0, 0, 0.18);
}

.svg_button
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 450px;
	left: 50%;
	width: 90px;
	cursor: pointer;
	dominant-baseline: middle;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
	transition: width 0.2s, fill 0.2s;
	fill: rgb(6, 209, 125);
}

.svg_button:hover
{
	transition: width 0.2s, fill 0.2s;
	width: 95px;
	fill: rgb(3, 192, 120);
}

.svg_button:active
{
	transition: width 0.2s, fill 0.2s;
	width: 90px;
	fill: rgb(6, 209, 125);
}

.svg_button_text
{
	font-family: "Roboto_medium";
}

.play .svg_button
{
	left: 36%;
}

.spectator .svg_button
{
	left: 64%;
	fill: #F4BE27;
}

.spectator .svg_button:hover
{
	fill: rgb(247, 175, 39);
}

.spectator .svg_button:active
{
	fill: #F4BE27;
}

.global_background
{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0.75;
	z-index: 99;
}
